body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #001845;
  height: 100px;
  padding-left: 200px;
}

#titulo {
  color: #d4d700;
  margin: 0;
  margin-top: 30px;
}

#minha_foto {
  margin-top: 107px;
  border-radius: 150px;
  margin-left: 195px;
}

#foto_nome {
  background-color: rgb(191, 196, 209);
}

#boxfoto {
  display: inline-block;
  margin-bottom: 6px;
}

#nome {
  display: inline-block;
  color: rgb(0, 40, 85);
}

#nome h2 {
  margin: 0;
  margin-bottom: 5px;
}

#nome h3 {
  margin: 0;
}

#licoes {
  padding-left: 200px;
}

#licoes h2 {
  color: rgb(51, 65, 92);
  margin-bottom: 0;
}

#aprendidas {
  color: rgb(51, 65, 92);
  display: inline-block;
  margin-right: 40px;
}

#futuras {
  color: rgb(51, 65, 92);
  display: inline-block;
}

#rodape {
  background-color: rgb(0, 40, 85);
  color: rgb(212, 215, 0);
  padding: 15px 0;
  padding-left: 200px;

}

#rodape p {
  text-align: left;
  margin: 0;
  font-size: small;
}

#rodape a {
  color: white;
  font-style: normal;
}

#rodape a:hover {
  font-weight: bolder;
}
